.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #001882;
    border-bottom: 1px solid #ccc;
}

.main-nav {
    background-color: aliceblue;
    color: black;
    display: flex;
    text-align: center;
    justify-content: center;     
    height: 30px;
}

.menu-item{
    display: inline-block;  /* makes divs be next to each other in same row */
    cursor: pointer;
    font-size: 1rem;
    padding: 0px 15px; /* 0px: top-bottom, 15px: left-right */
}

.menu-item:hover{
    color: rgb(45, 0, 181);
}


.logo {
    width: 40px;
    height: 40px; 
    border-radius: 50%;
}

.cover-link {
    text-decoration: none;
    font-weight: bold;
    color: #fbfbfb;
}

.cover-link:hover {
    text-decoration: underline;
}
